:root {
  --bodycolor: #202C39;

  --color-one: #000000;
  --color-two: #DA627D55;

  --font-color-one: #DA627D;
  
  --block-color: #FFC94A;
  --block-shadow:#F6B057;

  --invisable: #0000000;

  --font-xlarge: 2.5vmax;
  --font-large: 2vmax;
  --font-med: 1.2vmax;

  --transition-speed: .1s
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

  font-family: 'Roboto Mono', monospace;
  border: none;
}


body{
  background-color: var(--bodycolor); 
}

input{
  border: none;

  width: 25vw;
  height: 5vh;
}

a{
  text-decoration: none;
}

textarea{
  resize: vertical;
}

button{
  background-color: #00000000;
}


.bgc-one{
  background-color: var(--color-one);
}

.bgc-two{
  background-color: var(--color-two);
}

.bgc-three{
  background-color: var(--bodycolor);
}

.bgc-invisable{
  background-color: var(--invisable);
}

.font-xlarge{
  font-size: var(--font-xlarge);
}

.font-large{
  font-size: var(--font-large);
}

.font-med{
  font-size: var(--font-med);
}

.font-color-one{
  color: var(--font-color-one)
}

.text-center{
  text-align: center;
}

.pad-1{
  padding: 1vmax;
}

.pad-half{
  padding: .5vmax;
}

.block{
  border: none;
  background-color: var(--block-color);
  box-shadow: 0 10px 0 var(--block-shadow);

  padding: 1vmin;

  z-index: 10;
  position: relative;
}

.row{
  display: flex;
  align-items: center;
}

.spread{
  justify-content: space-between;
}

.m-1{
  margin: 1vmax;
}

.m-inline-1{
  margin-inline:1vmax ;
}

.button{
  transition: .1s;
}

.button:hover{
  background-color: var(--block-shadow);
  box-shadow: none;

  transform: translateY(.4vmax);
}

.w-50{
  width: 50%;
}

.w-90{
  width: 90%
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100vh;
}

.h-10{
  height: 10vh;
}

.h-20{
  height: 20vh;
}

.center{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.center-row{
  display: flex;
  justify-content: space-evenly;

}

.column{
  display: flex;
  flex-direction: column;
}

.split-row-2{
  display: grid;
  grid-template-rows: auto auto;
}

.fit-max{
  max-height: max-content;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.hover-scale{
  transition: var(--transition-speed);
}

.hover-scale:hover{
  scale: 1.15;
}

.hover-tilt{
  transition: var(--transition-speed);
}

.hover-tilt:hover{
  rotate: 15deg;
}

.hover-pop{
  transition: .1s;
}

.hover-pop:hover{
  transform: translateY(-.5vmax);
}

.bind-parent .parent-hover-tilt{
  transition: var(--transition-speed);
}

.bind-parent:hover .parent-hover-tilt{
 rotate: -15deg; 
}

.bind-parent{}




            